{{!-- 装备槽中的物品卡片 --}}
<div class="equipped-item-card" data-item-id="{{item._id}}" title="{{item.system.effect}}">
  <div class="card-cost">{{item.system.cost}}</div>
  <div class="card-unequip" data-action="unequip-item" data-item-id="{{item._id}}" title="卸下装备">
    <i class="fas fa-times"></i>
  </div>
  <div class="card-category">{{item.system.category}}</div>
  <div class="card-dice">{{item.system.diceFormula}}</div>
  <div class="card-center">
    <img src="{{item.img}}" alt="{{item.name}}" />
    <span class="card-name">{{item.name}}</span>
  </div>
</div>
